/coverage
/nbproject
/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
/vendor
/.idea
/.vagrant
/.vscode
_ide_helper.php
composer.phar
coverage.xml
error.log
Homestead.json
Homestead.yaml
npm-debug.log
output.txt
Thumbs.db
yarn-error.log
.env
.env.backup
.DS_Store
.php_cs.cache
.phpstorm.meta.php
.phpunit.result.cache
.project
*.sublime-project
*.sublime-workspace
